<%= form_for :session, url: session_path do |form| %>
  <div class="text-field">
    Email Address<br>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class="password-field">
    Password<br>
    <%= form.password_field :password %>
  </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>
<% end %>
