<div id="clearance" class="sign-in">
  <div id="content">
    <% flash.each do |key, value| %>
      <div id="flash-message">
        <%= value %>
      </div>
    <% end %>
    <%= render partial: '/sessions/form' %>
  </div>
</div>
