/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --button-color: #013adf;
  --highlight-color: #012dac;
}

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'library/nice-select';
@import 'handy-components/styles/styles';

@import 'reset';
@import 'layout';
@import 'general';

#admin-sidebar-body ul {
  position: relative;
  img {
    position: absolute;
    width: 30px;
    right: 0;
  }
}

.archive-button {
  background-image: image-url('archive.svg');
}

.unarchive-button {
  background-image: image-url('no.svg');
}

.highlight-button {
  background-image: image-url('highlighter.jpg');
}
