#quiz-details {

  .admin-table th {
    padding-bottom: 15px;
  }

  .admin-table tr.wide-arrows {

    .amount {
      width: 80px;
    }

    &.red td {
      color: red;
      font-family: 'TeachableSans-SemiBold';
    }

    &.green td {
      color: green;
      font-family: 'TeachableSans-SemiBold';
    }
  }

  .admin-table tbody tr:last-of-type td {
    font-family: 'TeachableSans-SemiBold';
    color: black;
  }

  .admin-table tbody tr:hover {

    td.right-arrow, td.left-arrow {
      background-size: 10%;
    }
  }

  .amount {
    text-align: center;
    width: 60px;
  }

  .available {
    text-align: center;
  }

  .unarchived, .archived {
    width: 75px;

    div.archived-header {
      background-image: image-url('archive.svg');
      margin-right: 20px;
      width: 25px;
      height: 25px;
    }

    div.unarchived-header {
      background-image: image-url('highlighter.jpg');
      background-size: 90%;
      margin-right: 20px;
      width: 25px;
      height: 25px;
    }
  }

  .right-arrow, .left-arrow {
    width: 50px;
    cursor: pointer;
    background-size: 0;
    background-position-y: 47%;
    background-repeat: no-repeat;
  }

  .right-arrow {
    background-image: image-url('right-arrow');
    background-position-x: 0;
  }

  .left-arrow {
    background-image: image-url('left-arrow');
    background-position-x: 100%;
  }
}
