#quiz-run {

  .grabbing {
    cursor: grabbing !important;
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
  }

  p.wrong-count {
    margin-top: 10px;
    display: inline-block;
    float: right;
    color: red;
  }

  p.question {
    font-family: 'TeachableSans-ExtraBold';
    font-size: 30px;
    color: black;
  }

  p.description {
    margin-top: -20px;
    margin-bottom: 20px;
  }

  img {
    height: 200px;
    margin-bottom: 30px;
  }

  p.answer {
    font-size: 14px;
    margin-bottom: 5px;

    &:first-of-type {
      margin-top: -15px;
    }

    &:last-of-type {
      margin-bottom: 15px;
    }
  }

  div.archive-button {
    margin-top: 2px;
    float: right;
    background-image: image-url('archive.svg');
    margin-right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  input[type="radio"] {
    display: inline-block;
    width: inherit;
    margin-right: 10px;
  }

  label {
    font-size: 14px;
  }

  .bins-container {

    .bin {
      display: inline-block;
      border: solid 1px gray;
      border-radius: 3px;
      padding: 20px 30px;
      font-size: 14px;
      user-select: none;
      vertical-align: top;
      text-align: center;
      margin-bottom: 15px;

      &.selected {
        background-color: #CEECF5;
      }

      &:not(:last-of-type) {
        margin-right: 30px;
      }

      .bin-item {
        margin-top: 10px;
        border: solid 1px gray;
        border-radius: 3px;
        padding: 8px 10px;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
      }
    }
  }

  .unmatched-items-container {

    .unmatched-item {
      display: inline-block;
      border: solid 1px gray;
      border-radius: 3px;
      padding: 8px 10px;
      cursor: grab;
      user-select: none;

      &.selected {
        background-color: #CEECF5;
      }

      &:not(:last-of-type) {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
