#quiz-run {

  p.question {
    font-family: 'TeachableSans-ExtraBold';
    font-size: 30px;
    color: black;
  }

  p.answer {
    font-size: 14px;
    margin-bottom: 5px;

    &:first-of-type {
      margin-top: -15px;
    }

    &:last-of-type {
      margin-bottom: 15px;
    }
  }
}
