#vocabulary {

  .select-definitions {

    p.word {
      color: black;
      font-size: 16px;
      font-family: 'TeachableSans-SemiBold';
      margin-bottom: 10px;
    }

    .definitions-container {
      margin-bottom: 20px;

      input {
        width: auto;
        margin-right: 10px;
      }
    }
  }
}
